.card {
    transition: 0.5s;
}

.card:hover {
    transition: 0.5s;
    background-color: var(--col);
    border: 1px solid var(--b);
    color: var(--b) !important;
}

.card:hover .btn {
    color: var(--b) !important;
}

.card img{
    transition: 0.5s;
}

.card:hover img{
    transition: 0.5s;
    filter: invert(100);
}

#subir-boton {
    text-align: center;
}