.invertido {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    transition: 0.5s;
}

a:hover .invertido {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    transition: 0.5s;
}

div a:hover {
    transition: 0.5s;
}

.peq {
    font-size: 12px;
    border-bottom: 1px solid var(--b);
    border-right: 1px solid var(--b);
    border-left: 1px solid var(--b);
}

#regresar {
    cursor: pointer;
}

.btn {
    text-align: left;
}

.btn-close:focus, .btn:focus {
    box-shadow: 0 0 0 0.25rem transparent !important;
}

.card .btn-close:hover {
    transition: 0.5s;
    color: var(--b) !important;
    filter: invert(100%);
}

.card:hover .btn-close {
    transition: 0.5s;
    color: var(--b) !important;
    filter: invert(100%);
}

.hide {
    display: none;
}

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.file, .dir, .subir-archivo {
    padding: 1rem;
}

.left{
    text-align: left !important;
}