::-webkit-scrollbar {
    width: 0.25rem;
}

::-webkit-scrollbar-track {
    background: var(--b);
}

::-webkit-scrollbar-thumb {
    background: var(--col);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}