::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: var(--b);
}

::-webkit-scrollbar-thumb {
    background: var(--col);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--col-transparent);
}
