::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--col);
    border-radius: .25rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}