@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

:root {
    --col: #212529;
    --col-transparent: #21252981;
    --b: #fff;
    --g: rgb(182, 182, 182);
}

::selection {
    background-color: var(--col);
    color: var(--b);
}

*, html, body {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--col);
}

::selection {
    filter: invert(100%);
    background-color: var(--col);
    color: var(--b);
}


a:hover .invertido {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    transition: 0.5s;
}

div a:hover {
    transition: 0.5s;
}

hr { 
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid var(--b); 
    padding: 0; 
}

form {
    padding: 0 !important;
    margin: 0 !important;
}