@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

:root {
    --col: #F27428;
    --col-transparent: #f2752880;
    --b: #fff;
    --g: rgb(182, 182, 182);
    --transicion: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}

::selection {
    background-color: var(--g) !important;
    color: var(--col);
}

*, html, body {
    font-family: 'Inter', sans-serif;
}

div a:hover {
    transition: 0.5s;
}

hr { 
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid var(--b); 
    padding: 0; 
}

form {
    padding: 0 !important;
    margin: 0 !important;
}