<div class="container-fluid">
    <div class="col text-center text-light ruta">
        <p class="peq">Te encuentras en:<%= ' ' + data.nom %></p>
    </div>
    <div class="row gap-2">
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text bg-dark text-light">Buscador archivos</span>
                <input type="search" class="form-control" id="buscadorFile">
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text bg-dark text-light">Buscador directorios</span>
                <input type="search" class="form-control" id="buscadorDir">
            </div>
        </div>
    </div>
</div>