<!-- Modal -->
<% if (rol == 'escritura') { %> 
  <div class="modal fade" id="cerrar" tabindex="-2" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark text-light">
          <div class="modal-header">
            <h5 class="modal-title">Cerrar sesión</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form action="/logout" method="post">
                  <div class="d-grid mb-3 gap-2 text-center">
                      <button type="submit" class="btn btn-outline-light" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                      <button type="submit" class="btn btn-outline-danger">Cerrar sesión</button>
                  </div>
              </form>
          </div>
        </div>
      </div>
    </div>
<% } %>