<!-- Modal -->
<% if (rol == 'escritura') { %> 
  <div class="modal fade" id="cerrar" tabindex="-2" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content border-0 border-bottom border-3 border-color rounded-0">
          <div class="modal-header border-0 border-bottom border-3 border-color">
            <h5 class="modal-title text-color">Cerrar sesión</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
            <p>¿Estas seguro de querer cerrar sesión?</p>
            <form action="/logout" method="post">
                <div class="d-grid mb-2">
                    <button type="submit" class="btn btn-color shadow-sm">Cerrar sesión</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
<% } %>