<div class="offcanvas offcanvas-start" tabindex="-1" id="panel" aria-labelledby="panelControls">
    <div class="offcanvas-header bg-dark text-light">
      <h5 class="offcanvas-title" id="panelControls">Todos los directorios</h5>
      <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="d-grid gap-2">
            <div class="input-group mb-3">
                <span class="input-group-text bg-dark text-light">Filtrar</span>
                <input type="search" class="form-control" id="buscadorRutas">
            </div>
        </div>
        <ul class="list-group border-0">
            <% rutas.forEach(ruta => {  %>
            <% let href;                %>
            <% if(ruta == '/') {        %>
            <%  href = '/home';         %>
            <% } else {                 %>      
            <%   href = '/' + ruta;     %>
            <% }                        %> 
                <a 
                    class="list-group-item border-0 text-truncate rutas" 
                    data-bs-toggle="tooltip"
                    data-bs-placement="right" 
                    title="<%= ruta %>" 
                    href="<%= href %>"
                >
                <%= ruta %>
                </a>
            <% }) %>
        </ul>
    </div>
</div>