<div class="offcanvas offcanvas-start" tabindex="-1" id="panel" aria-labelledby="panelControls">
    <div class="offcanvas-header border-0 border-bottom border-3 border-color text-color">
      <h5 class="offcanvas-title" id="panelControls">Todos los directorios</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="d-grid gap-2">
            <div class="input-group mb-3">
                <span class="input-group-text bg-color text-light border-0 border-bottom border-color border-3 rounded-0">Filtrar</span>
                <input type="search" class="form-control border-0 border-0 border-bottom border-color border-1 rounded-0" id="buscadorRutas">
            </div>
        </div>
        <ul class="list-group border-0">
            <% rutas.forEach(ruta => {
                let href;                
                if (ruta == '/') {       
                    href = '/home';     
                    ruta = '/home';      
                } else {               
                    href = '/' + ruta;   
            } %> 
                <a 
                    class="list-group-item list-color border-0 text-truncate rutas" 
                    title="<%= ruta %>" 
                    href="<%= href %>"
                >
                <%= ruta %>
                </a>
            <% }) %>
        </ul>
    </div>
</div>