<!-- Modal -->
<% if (rol == 'lectura') { %> 
<div class="modal fade" id="login" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content border-0 border-bottom border-3 border-color rounded-0">
        <div class="modal-header border-0 border-bottom border-3 border-color text-color">
          <h5 class="modal-title">Login</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body bg-light text-color">
            <form action="/login" method="post">
                <div class="mb-3 text-start">
                    <label for="nombre" class="form-label">Nombre de usuario</label>
                    <input type="text" name="nombre" class="form-control" placeholder="Introduce el nombre" autocomplete="off" required>
                </div>
                <div class="mb-3 text-start">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" name="password" class="form-control" placeholder="Introduce la contraseña" autocomplete="off" required>
                </div>
                <hr>
                <div class="d-grid mb-3 gap-2 text-center">
                    <button type="submit" class="btn btn-color shadow-sm">Iniciar sesión</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
  <% } %>