<div class="modal fade" id="archivo-existente" tabindex="-1" aria-labelledby="archivo-existenteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-color">
            <div class="modal-header">
                <h5 class="modal-title" id="modalArcho">Archivo ya existente</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <h5><b>Aviso</b></h5>
                <p><b>Se ha detectado que el archivo que quieres subir ya existe. <br></b>¿Qué deseas hacer?</p>
            </div>
            <div class="bg-dark p-2 gap-2 d-grid border-top border-light">
                <button type="button" class="btn btn-light" id="crear-nueva-version">Crear una nueva versión</button>
                <button type="button" class="btn btn-light" id="sobreescribir-version">Sobreescribir el archivo ya existente</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="crear-nueva-version-modal" tabindex="-1" aria-labelledby="archivo-existenteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-color">
            <div class="modal-header">
                <h5 class="modal-title" id="modalArcho">Formulario de nueva versión</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/login" method="post">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Introduce tu nombre">
                    </div>
                    <div class="mb-3">
                        <label for="apellidos" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" name="apellidos" id="apellidos" placeholder="Introduce tus apellidos">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Introduce tu email de empresa">
                    </div>
                    <div class="mb-3">
                        <label for="motivo-usuario" class="form-label">Motivos por la nueva versión</label>
                        <textarea name="motivo-usuario" class="form-control" id="motivo-usuario" rows="3" placeholder="Introduce los motivos por los cuales se crea una nueva versión"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

