<% if (rol == 'escritura') { %>
<div class="modal fade" id="archivo-existente" tabindex="-1" aria-labelledby="archivo-existenteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content border-0 border-bottom border-3 border-color rounded-0">
            <div class="modal-header border-0 border-bottom border-3 border-color rounded-0">
                <h5 class="modal-title text-color">Archivo ya existente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="gap-2 m-2 d-grid border-top border-light">
                <button type="button" class="btn btn-color shadow-sm" id="crear-nueva-version">Crear una nueva versión</button>
                <button type="button" class="btn btn-color shadow-sm" id="sobreescribir-version">Sobreescribir el archivo ya existente</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="version-modal" tabindex="-1" aria-labelledby="archivo-existenteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content border-0 border-bottom border-3 border-color rounded-0">
            <div class="modal-header border-0 border-bottom border-3 border-color rounded-0">
                <h5 class="modal-title text-color" id="titulo-modal"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/subir" method="post" class="text-color" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="dni" class="form-label">DNI</label>
                        <select class="form-select" id="dni" name="dni">
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="motivo" class="form-label">Motivos por la nueva versión</label>
                        <textarea name="motivo" class="form-control" minlength="10" maxlength="200" id="motivo" rows="3" placeholder="Introduce los motivos por los cuales se crea una nueva versión" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="nombre-archivo-simple" class="form-label">Archivo simple</label>
                        <input type="text" class="form-control" name="nombre-archivo-simple" id="nombre-archivo-simple" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="nombre-archivo" class="form-label">Archivo</label>
                        <input type="text" class="form-control" name="nombre-archivo" id="nombre-archivo" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="version-nuevo-archivo" class="form-label">Version que se creará</label>
                        <input type="text" class="form-control" name="version-nuevo-archivo" id="version-nuevo-archivo" disabled>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-color shadow-sm">Confirmar creación</button>
                    </div>
                    <div class="hide">
                        <input type="hidden" name="versionOculto" id="versionOculto">
                        <input type="hidden" name="archivoOculto" id="archivoOculto">
                        <input type="file" name="archivoContenidoOculto" id="archivoContenidoOculto" class="hide">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="eliminar-archivo-modal" tabindex="-1" aria-labelledby="eliminar-archivoLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content text-color border-0 border-bottom border-3 border-color rounded-0">
            <div class="modal-header border-0 border-bottom border-3 border-color rounded-0">
                <h5 class="modal-title" id="titulo-eliminar"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/eliminar?_method=DELETE" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="dniEliminar" class="form-label">DNI</label>
                        <select class="form-select" id="dniEliminar" name="dniEliminar"></select>
                    </div>
                    <div class="mb-3">
                        <label for="eliminarMotivo" class="form-label">Motivos</label>
                        <textarea name="eliminarMotivo" class="form-control"  minlength="10" maxlength="200" id="eliminarMotivo" rows="3" placeholder="Introduce los motivos por los cuales se elimina la versión" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="eliminarArchivoNombre" class="form-label">Archivo</label>
                        <input type="text" class="form-control" name="eliminarArchivoNombre" id="eliminarArchivoNombre" disabled>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-color">Eliminar archivo</button>
                    </div>
                    <div class="hide">
                        <input type="hidden" name="eliminarArchivoOculto" id="eliminarArchivoOculto">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="informacion-archivos-subir" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content text-color border-0 border-bottom border-3 border-color rounded-0">
            <div class="modal-header border-0 border-bottom border-3 border-color rounded-0">
                <h5 class="modal-title">Información acerca de la subida de archivos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row gap-2">
                    <div class="col text-center">
                        <div class="card-header text-light bg-success">
                            Correcto
                          </div>
                          <ul class="list-group list-group-flush rounded border-success rounded-0 border">
                            <li class="list-group-item">prueba.txt</li>
                            <li class="list-group-item">prueba_1.txt</li>
                            <li class="list-group-item">prueba_2.txt</li>
                          </ul>
                    </div>
                    <div class="col text-center">
                        <div class="card-header text-light bg-danger">
                            Incorrecto
                          </div>
                          <ul class="list-group list-group-flush rounded border-danger rounded-0 border">
                            <li class="list-group-item">prueba_v_1.txt</li>
                            <li class="list-group-item">prueba (1).txt</li>
                            <li class="list-group-item">prueba_2_3.txt</li>
                          </ul>
                    </div>
                </div>
                <div class="row my-2">
                    <p class="text-center">
                        Los nombres deben contener una sola barrabaja: _
                    </p>
                </div>
                <div class="d-grid mt-2">
                    <button type="button" class="btn btn-color" data-bs-dismiss="modal">¡Entendido!</button>
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>