<div class="modal fade" id="archivo-existente" tabindex="-1" aria-labelledby="archivo-existenteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-color text-color">
            <div class="modal-header">
                <h5 class="modal-title">Archivo ya existente</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <h5 class="text-danger"><b>Aviso</b></h5>
                <p><b>Se ha detectado que el archivo que quieres subir ya existe. <br></b>¿Qué deseas hacer?</p>
            </div>
            <div class="bg-color p-2 gap-2 d-grid border-top border-light">
                <button type="button" class="btn btn-light" id="crear-nueva-version">Crear una nueva versión</button>
                <button type="button" class="btn btn-light" id="sobreescribir-version">Sobreescribir el archivo ya existente</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="crear-nueva-version-modal" tabindex="-1" aria-labelledby="archivo-existenteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-color text-color">
            <div class="modal-header">
                <h5 class="modal-title">Formulario de nueva versión</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/subir" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" minlength="3" maxlength="50" class="form-control" name="nombre" id="nombre" placeholder="Introduce tu nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="apellidos" class="form-label">Apellidos</label>
                        <input type="text" minlength="3" maxlength="50" class="form-control" name="apellidos" id="apellidos" placeholder="Introduce tus apellidos" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" minlength="6" maxlength="50" class="form-control" name="email" id="email" placeholder="Introduce tu email de empresa" required>
                    </div>
                    <div class="mb-3">
                        <label for="motivo" class="form-label">Motivos por la nueva versión</label>
                        <textarea name="motivo" class="form-control" maxlength="200" id="motivo" rows="3" placeholder="Introduce los motivos por los cuales se crea una nueva versión" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="nombre-archivo" class="form-label">Archivo</label>
                        <input type="text" class="form-control" name="nombre-archivo" id="nombre-archivo" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="version-nuevo-archivo" class="form-label">Version que se creará</label>
                        <input type="text" class="form-control" name="version-nuevo-archivo" id="version-nuevo-archivo" disabled>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-light">Confirmar creación</button>
                    </div>
                    <div class="hide">
                        <input type="hidden" name="tipoMotivo" id="tipoMotivo">
                        <input type="hidden" name="versionOculto" id="versionOculto">
                        <input type="hidden" name="archivoOculto" id="archivoOculto">
                        <input type="file" name="archivoContenidoOculto" id="archivoContenidoOculto" class="hide">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="eliminar-archivo-modal" tabindex="-1" aria-labelledby="eliminar-archivoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-color text-color">
            <div class="modal-header">
                <h5 class="modal-title">Formulario de eliminación de archivos</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/eliminar?_method=DELETE" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="eliminarNombre" class="form-label">Nombre</label>
                        <input type="text" minlength="3" maxlength="50" class="form-control" name="eliminarNombre" id="eliminarNombre" placeholder="Introduce tu nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="eliminarApellidos" class="form-label">Apellidos</label>
                        <input type="text" minlength="3" maxlength="50" class="form-control" name="eliminarApellidos" id="eliminarApellidos" placeholder="Introduce tus apellidos" required>
                    </div>
                    <div class="mb-3">
                        <label for="eliminarEmail" class="form-label">Email</label>
                        <input type="Email" minlength="6" maxlength="50" class="form-control" name="eliminarEmail" id="eliminarEmail" placeholder="Introduce tu email de empresa" required>
                    </div>
                    <div class="mb-3">
                        <label for="eliminarMotivo" class="form-label">Motivos</label>
                        <textarea name="eliminarMotivo" class="form-control" maxlength="200" id="eliminarMotivo" rows="3" placeholder="Introduce los motivos por los cuales se elimina la versión" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="eliminarArchivoNombre" class="form-label">Archivo</label>
                        <input type="text" class="form-control" name="eliminarArchivoNombre" id="eliminarArchivoNombre" disabled>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-light">Eliminar archivo</button>
                    </div>
                    <div class="hide">
                        <input type="hidden" name="eliminarTipoMotivoOculto" id="eliminarTipoMotivoOculto">
                        <input type="hidden" name="eliminarArchivoOculto" id="eliminarArchivoOculto">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="informacion-archivos-subir" tabindex="-1" aria-labelledby="informacion-archivos-subir-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-color text-color">
            <div class="modal-header">
                <h5 class="modal-title">Información acerca de la subida de archivos</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row gap-2">
                    <div class="col text-center">
                        <div class="card-header text-success">
                            Correcto
                          </div>
                          <ul class="list-group list-group-flush rounded border-success border">
                            <li class="list-group-item">prueba.txt</li>
                            <li class="list-group-item">prueba_1.txt</li>
                            <li class="list-group-item">prueba_2.txt</li>
                          </ul>
                    </div>
                    <div class="col text-center">
                        <div class="card-header text-danger">
                            Incorrecto
                          </div>
                          <ul class="list-group list-group-flush rounded border-danger border">
                            <li class="list-group-item">prueba_v_1.txt</li>
                            <li class="list-group-item">prueba (1).txt</li>
                            <li class="list-group-item">prueba_2_3.txt</li>
                          </ul>
                    </div>
                </div>
                <div class="row my-2">
                    <p class="text-center">
                        Los nombres deben contener una sola barrabaja: _
                    </p>
                </div>
                <div class="d-grid mt-2">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">¡Entendido!</button>
                </div>
            </div>
        </div>
    </div>
</div>
