<nav id="navbar" class="navbar navbar-light bg-light shadow-sm border-bottom border-3 border-color">
    <div class="row container-fluid">
        <div class="col-auto justify-content-left">
            <button class="btn link-color" type="button" data-bs-toggle="offcanvas" data-bs-target="#panel" aria-controls="panelControls">
                <i class="bi bi-grip-vertical icono"></i>
            </button>
        </div>
        <div class="col-auto">
            <div class="d-flex">
                <a class="navbar-brand text-color" href="/home">
                    <h6 class="mt-1 p-0">GESTOR DOCUMENTAL</h6>
                </a>
                <input type="color" class="form-control-color form-control mt-1 p-0 border-0" id="colorPicker">
            </div>
        </div>
        <div class="col-auto justify-content-right text-center">
            <a class="btn link-color" id="volver">
                <i id="nav-volver" class="bi bi-arrow-left icono"></i>
            </a>
            <a class="btn link-color" href="/registros">
                <i id="nav-registros" class="bi bi-card-list icono"></i>
            </a>
            <a class="btn link-color" href="/home">
                <i id="nav-home" class="bi bi-house-door-fill icono"></i>
            </a>
            <a class="btn link-color" id="ultimaVersion" class="ultima">
                <i id="nav-version" class="bi bi-eye-fill icono"></i>
            </a>
            <% if (rol == 'lectura') { %> 
            <a class="btn link-color" data-bs-toggle="modal" data-bs-target="#login">
                <i id="nav-login" class="bi bi-person-fill icono"></i>
            </a>
            <% } else if (rol == 'escritura') { %>
            <a class="btn link-color" data-bs-toggle="modal" data-bs-target="#cerrar">
                <i id="nav-logout" class="bi bi-backspace-reverse-fill icono"></i>
            </a>
            <% } %>
        </div>
    </div>
</nav>
