<nav id="navbar" class="navbar navbar-light bg-light shadow-sm border-bottom border-3 border-color">
    <div class="row container-fluid justify-content-spacebetween">
        <div class="col-auto justify-content-left">
            <button class="mx-2 btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#panel" aria-controls="panelControls">
                <img class="text-color" src="/assets/img-svg/lateral.svg">
            </button>
        </div>
        <div class="col-auto">
            <a class="navbar-brand" href="/home"><h6 class="m-2">GESTOR DOCUMENTAL</h6></a>
        </div>
        <div class="col-auto justify-content-right text-center">
            <a class="btn" id="volver"><img src="/assets/img-svg/back.svg" class="img-fluid svg" width="25"></a>
            <a class="btn" href="/home"><img src="/assets/img-svg/home.svg" class="img-fluid svg" width="25"></a>
            <a class="btn" id="ultimaVersion"><img src="/assets/img-svg/eye.svg" class="img-fluid svg" width="25"></a>
            <% if (rol == 'lectura') { %> 
            <a class="btn" data-bs-toggle="modal" data-bs-target="#login"><img src="/assets/img-svg/user.svg" class="img-fluid" width="25"></a>
            <% } else if (rol == 'escritura') { %>
                <a class="btn" data-bs-toggle="modal" data-bs-target="#cerrar"><img src="/assets/img-svg/logout.svg" class="img-fluid" width="25"></a>
            <% } %>
        </div>
    </div>
</nav>
