<nav id="navbar" class="navbar navbar-light bg-light shadow-sm">
    <div class="row container-fluid">
        <div class="col-auto justify-content-left">
            <a class="navbar-brand" href="/home"><h6 class="m-2">Gestor Documental</h6></a>
        </div>
        <div class="col-auto justify-content-right text-center">
            <a class="btn" id="volver"><img src="/assets/img-svg/back.svg" class="img-fluid" width="25"></a>
            <a class="btn" href="/home"><img src="/assets/img-svg/home.svg" class="img-fluid" width="35"></a>
        </div>
    </div>
</nav>