<% if (rol == 'escritura') { %>
<div class="container-fluid my-2">
    <div class="subir-archivo">
        <div class="d-flex text-color">Subir un archivo
            <img id="info" class="mx-2 my-1 text-color" src="/assets/img-svg/info.svg" alt="information informacion info">
        </div>
        <div class="row">
            <div class="col">
                <form action="/subir" method="post" id="subir" enctype="multipart/form-data">
                    <div class="row justify-content-center">
                        <div class="input-group mb-3" id="container-subir-campo">
                            <input type="file" class="form-control rounded-0" id="subir-campo" required>
                            <label type="submit" class="input-group-text btn btn-color rounded-0  shadow-sm" id="subir-boton">Subir archivo</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% } %>